* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header_container {
  background-color: #181818;
  color: white;
}

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0px;
  padding: 15px 10px 15px 20px;
}

.header a {
  margin-left: auto;
}

.header a svg {
  margin-right: 20px;
  width: 40px;
  /* filter: invert(100%); */
}

.header a svg path {
  fill:#9D9D9D;
}

.wrapper {
  display: flex;
  height: calc(100vh - 67px);
  flex-direction: row;
}

.sidebar {
  flex: 0 0 230px;
  background-color: #181818;
  color: #9D9D9D;
  padding: 10px;
}

.toggle_button {
  transition: margin-left 0.25s ease-in-out;
  font-size: 30px;
  padding: 0;
  position: absolute;
  top: 50vh;
  margin-left: 230px;
}

.toggle_button:hover {
  color: #d2d2d2;
  font-weight: bolder;
}

.sidebar ul {
  list-style: none;
  padding: 20px;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: inherit;
}

.sidebar ul li a:hover {
  text-decoration: none;
  color: #d2d2d2;
  font-weight: bolder;
}

.content_container {
  transition: margin-left 0.25s ease-in-out;
  flex: 1;
  overflow: auto;
  background-color: #1F1F1F;
  color: white;
  padding: 10px;
}

/* content starts right here */
.content {
  padding: 30px 60px 30px 60px;
}

/* adjust main content div's position when sidebar is showing */
.sidebar.active + .content_container {
  transition: margin-left 0.25s ease-in-out;
  margin-left: -230px; 
}

/* adjust the toggle button's position when sidebar is showing */
.sidebar.active > .toggle_button {
  transition: margin-left 0.25s ease-in-out;
  margin-left: 0px;
}
