* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header_container {
  background-color: #181818;
  color: #CACACA;
}

.header {
  display: flex;
  align-items: center;
}

.header h1 {
  margin: 0px;
  padding: 15px 10px 15px 20px;
}

.header a {
  margin-left: auto;
}

.header a i {
  margin-right: 20px;
  font-size: 40px;
  color: #5F5F5F;
}

.header a i:hover {
  margin-right: 20px;
  font-size: 40px;
  color: #888888;
}

.wrapper {
  display: flex;
  height: calc(100vh - 67px);
  flex-direction: row;
}

.sidebar {
  flex: 0 0 230px;
  background-color: #1F1F1F;
  color: #B1B1B1;
  padding: 10px;
}

.toggle_button {
  min-height: 15px;
  min-width: 15px;
  max-width: 15px;
  min-height: 15px;
  transition: margin-left 200ms ease-in-out;
  font-size: 30px;
  padding: 0;
  position: absolute;
  top: 50vh;
  margin-left: 230px;
  cursor: pointer;
}

.toggle_button:hover {
  color: #DDDDDD;
  font-weight: bolder;
}

.nav ul {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.nav ul a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px 0 10px 0;
  border-radius: 5px;
  margin: 5px 0 0 0;
}

.nav ul a li {
  padding-left: 10px;
  
}

.sidebar .nav {
  font-size: 20px;
}

.content_container {
  display: flex;
  flex-direction: column;
  transition: margin-left 200ms ease-in-out;
  flex: 1;
  overflow: auto;
  background-color: #262626;
  color: #B1B1B1;
  padding: 10px;
}

/* content starts right here */
.content {
  padding: 20px 20px 20px 25px;
  flex: 1;
}

.sidebar.active + .content_container {
  transition: margin-left 200ms ease-in-out;
  margin-left: -230px; 
}

.sidebar.active > .toggle_button {
  transition: margin-left 200ms ease-in-out;
  margin-left: 0px;
}

::-webkit-scrollbar {
  width: 0px;
}

.license {
  background-color: white;
  color: black;
  margin-top: auto;
}

.nav ul a:hover {
  background-color: #CACACA;
  color: #000000;
}

.map {
  width: 100%;
  height: 100%;
}