.content_container {

}

.content_container .content {

}

.content .image_header {
    display: flex;
    flex-direction: row;
}

.image_header .image {

}

.image_header .image img {
    width: 1400px;
    height: 780px;

}

.image_header .contact_details {

}

.image_header .description {

}