.content img {
    width: 100%;
    max-width: 1500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content h1{
    font-size: 50px;
}

.content hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    height: 4px;
    background-color: #303030;
}

.content h2 {
    font-size: 20px;
}